<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application</title>
    @Styles.Render("~/Content/Styles")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("BonAppetit", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuración<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Departamentos", "Index", "Departamentos")</li>
                                <li>@Html.ActionLink("Ciudades", "Index", "Ciudades")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Empresas", "Index", "Empresas")</li>
                                <li>@Html.ActionLink("Administradores", "Index", "Usuarios")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Estados", "Index", "Estados")</li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Bodegas", "Index", "Bodegas")</li>
                                <li>@Html.ActionLink("Categorias", "Index", "Categorias")</li>
                                <li>@Html.ActionLink("Formas de Pago", "Index", "FormaPagos")</li>
                                <li>@Html.ActionLink("Impuestos", "Index", "Impuestos")</li>
                                <li>@Html.ActionLink("Unidades", "Index", "Unidades")</li>
                                <li>@Html.ActionLink("Productos", "Index", "Productos")</li>
                                <li>@Html.ActionLink("Ingredientes", "Ingredientes", "Productos")</li>
                                <li>@Html.ActionLink("Recetas", "Index", "Recetas")</li>
                                <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                                <li>@Html.ActionLink("Proveedores", "Index", "Proveedores")</li>
                                <li>@Html.ActionLink("Mesas", "Index", "Mesas")</li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Seller"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Bodegas", "Index", "Bodegas")</li>
                                <li>@Html.ActionLink("Categorias", "Index", "Categorias")</li>
                                <li>@Html.ActionLink("Formas de Pago", "Index", "FormaPagos")</li>
                                <li>@Html.ActionLink("Impuestos", "Index", "Impuestos")</li>
                                <li>@Html.ActionLink("Unidades", "Index", "Unidades")</li>
                                <li>@Html.ActionLink("Productos", "Index", "Productos")</li>
                                <li>@Html.ActionLink("Recetas", "Index", "Recetas")</li>
                                <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                                <li>@Html.ActionLink("Proveedores", "Index", "Proveedores")</li>
                                <li>@Html.ActionLink("Chat", "Chat", "Home")</li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Customer"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movimientos <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Pedido", "Index", "Ventas")</li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("VirtualWaiter"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Pedido", "Index", "PedidoMesas")</li>
                                <li>@Html.ActionLink("Chat", "Chat", "Home")</li>
                            </ul>
                        </li>
                    }
                </ul>

                @Html.Partial("_LoginPartial")
                @if (User.IsInRole("VirtualWaiter"))
                {
                    <span class="noti glyphicon glyphicon-bell"><span class="count">&nbsp;</span></span>
                    <div class="noti-content">
                        <div class="noti-top-arrow"></div>
                        <ul id="notiContent"></ul>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("featured", required: false)
        <hr />
        <footer>

            <p>&copy; @DateTime.Now.Year - By Pablo Gómez</p>

        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <style type="text/css">
        /*Added css for design notification area, you can design by your self*/
        /* COPY css content from youtube video description*/
        .noti-content {
            position: fixed;
            right: 100px;
            background: #e5e5e5;
            border-radius: 4px;
            top: 47px;
            width: 250px;
            display: none;
            border: 1px solid #9E988B;
        }

        ul#notiContent {
            max-height: 200px;
            overflow: auto;
            padding: 0px;
            margin: 0px;
            padding-left: 20px;
        }

            ul#notiContent li {
                margin: 3px;
                padding: 6px;
                background: #fff;
            }

        .noti-top-arrow {
            border-color: transparent;
            border-bottom-color: #F5DEB3;
            border-style: dashed dashed solid;
            border-width: 0 8.5px 8.5px;
            position: absolute;
            right: 32px;
            top: -8px;
        }

        span.noti {
            color: #FF2323;
            margin: 15px;
            position: fixed;
            right: 100px;
            font-size: 18px;
            cursor: pointer;
        }

        span.count {
            position: relative;
            top: -3px;
        }
    </style>

    @* Add jquery code for Get Notification & setup signalr *@
    <script type="text/javascript">
        $(function () {
            // Click on notification icon for show notification
            $('span.noti').click(function (e) {
                e.stopPropagation();
                $('.noti-content').show();
                var count = 0;
                count = parseInt($('span.count').html()) || 0;
                //only load notification if not already loaded
                if (count > 0) {
                    updateNotification();
                }
                $('span.count', this).html('&nbsp;');
            })
            // hide notifications
            $('html').click(function () {
                $('.noti-content').hide();
            })
            // update notification
            function updateNotification() {
                $('#notiContent').empty();
                $('#notiContent').append($('<li>Loading...</li>'));

                $.ajax({
                    type: 'GET',
                    url: '/Home/GetNotificationContacts',
                    success: function (response) {
                        $('#notiContent').empty();
                        if (response.length  == 0) {
                            $('#notiContent').append($('<li>No data available</li>'));
                        }
                        $.each(response, function (index, value) {
                            $('#notiContent').append($('<li>New contact : ' + value.MesaId + ' (' + value.Comentarios + ') added</li>'));
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
            // update notification count
            function updateNotificationCount() {
                var count = 0;
                count = parseInt($('span.count').html()) || 0;
                count++;
                $('span.count').html(count);
            }
            // signalr js code for start hub and send receive notification
            var notificationHub = $.connection.notificationHub;
            $.connection.hub.start().done(function () {
                console.log('Notification hub started');
            });

            //signalr method for push server message to client
            notificationHub.client.notify = function (message) {
                if (message && message.toLowerCase() == "added") {
                    updateNotificationCount();
                }
            }

        })
    </script>
</body>
</html>