@model ECommerce.Models.PedidoMesa

@{
    ViewBag.Title = "Detalles";
}
<br />
<h2>Pedido @Html.DisplayFor(model => model.PedidoMesaID)</h2>


<div class="row">
    <div class="col-md-6">
        <div>
            <h4>Información</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Estado.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Estado.Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Mesa.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Mesa.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Fecha)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fecha)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Comentarios)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Comentarios)
                </dd>


            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.PedidoMesaID }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-primary" })
        </p>
    </div>
    <div class="col-md-6">
        <div>
            <h4>Inventario  </h4>
            <hr />
            @if (Model.PedidoMesaDetalles.Count == 0)
            {
                <h5>No hay Detalles</h5>
            }
            else
            {
                <table class="table">
                    <tr>
                        <th>
                            Producto
                        </th>
                        <th width="80px">
                            Cantidad
                        </th>
                        <th>

                        </th>
                    </tr>

                    @foreach (var item in Model.PedidoMesaDetalles.ToList())
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Producto.Descripcion)
                            </td>
                            <td align="right">
                                @Html.DisplayFor(modelItem => item.Cantidad)
                            </td>
                            <td align="left">
                                @Html.DisplayFor(modelItem => item.Producto.Unidad.Descripcion)
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <strong>Estado</strong>
                        </td>
                        <td align="right">
                            <strong>@Html.DisplayFor(modelItem => Model.Estado.Descripcion)</strong>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>