@model ECommerce.Models.PedidoMesa

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>PedidoMesa</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Empresas.Nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Empresas.Nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Estado.Descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Estado.Descripcion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Mesa.Nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Mesa.Nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fecha)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Comentarios)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Comentarios)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PedidoMesaID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
